In [30]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv(r'D:\prog\Jupyter_hub\Python study\Karpov_courses\lesson_1_data.csv', encoding = 'windows-1251', sep=';')
#способ №1 для открытия файла

In [4]:
df_2 = pd.read_csv('D:\\prog\\Jupyter_hub\\Python study\\Karpov_courses\\lesson_1_data.csv', encoding = 'windows-1251', sep=';')
#способ №2 для открытия файла

In [5]:
df_3 = pd.read_csv('D:/prog/Jupyter_hub/Python study/Karpov_courses/lesson_1_data.csv', encoding = 'windows-1251', sep=';')
#способ #3 для открытия файла через путь

In [6]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [7]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [8]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [9]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [10]:
df = df.rename(columns = {'Номер' : 'number', 
               'Дата создания' : 'create_date', 
               'Дата оплаты' : 'payment_date', 
               'Title' : 'title', 
               'Статус' : 'status',
               'Заработано' : 'money', 
               'Город' : 'city', 
               'Платежная система': 'payment_system'})

In [11]:
df

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [12]:
df.title

0                                Курс обучения «Эксперт»
1                                Курс обучения «Эксперт»
2                             Курс обучения «Специалист»
3                            Курс обучения «Консультант»
4                                Курс обучения «Эксперт»
                             ...
287    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
288                          Курс обучения «Консультант»
289                          Курс обучения «Консультант»
290    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
291    Курс от Школы Диетологов. Повышение квалификац...
Name: title, Length: 292, dtype: object

In [13]:
df[['title','status']]

                                                 title    status
0                              Курс обучения «Эксперт»  Завершен
1                              Курс обучения «Эксперт»  Завершен
2                           Курс обучения «Специалист»   Отменен
3                          Курс обучения «Консультант»   Отменен
4                              Курс обучения «Эксперт»   Отменен
..                                                 ...       ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен
288                        Курс обучения «Консультант»   Отменен
289                        Курс обучения «Консультант»  Завершен
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен
291  Курс от Школы Диетологов. Повышение квалификац...  Завершен

[292 rows x 2 columns]

In [14]:
df.groupby('title', as_index=False)\
.aggregate({'money': 'sum'})\
.sort_values('money', ascending=False)
#перенос строки одной команды. Улучшает читабельность кода.

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

In [15]:
# В качестве теоретической задачи было узнать сколько каждый продукт заработал в каждом городе
# Поэтому группировку нужно выполнить также и по городам
df_city_money = df.groupby(['title', 'city'], as_index=False)\
                .aggregate({'money': 'sum'})\
                .sort_values('money', ascending=False)

In [16]:
df_city_money

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [17]:
# Полученный datafreim можно преобразовать в отдельный файл. 
# Алгоритм: берем переменную, в скобках указываем её название и отключаем индексы.
df_city_money.to_csv('df_city_money.csv', index = False)
# Файл сохранен и повявился в той же директории, где находится файл этого ноутбука

In [18]:
# Аналог where в SQL это функция query. В скобках подается требуемое нам условие.
df\
.query('status == "Завершен"')\
.groupby('title', as_index=False)\
.aggregate({'money': 'sum', 'number':'count'})\
.sort_values('money', ascending=False)
#перенос строки одной команды. Улучшает читабельность кода.
#ДОЛГО НЕ МОГ ПОНЯТЬ ПОЧЕМУ У МЕНЯ ТУТ НЕ РАБОТАЕТ КОД. Оказалось, что я при переименовании столбцов я случайно поставил пробел перед number -_-

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     125
0                        Курс обучения «Консультант»  208163.49      31
1                         Курс обучения «Специалист»  160862.64       7
2                            Курс обучения «Эксперт»  148992.80       5
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92       9
3                   Курс от Школы Диетологов. Бизнес   18752.54       3

In [20]:
# Поскольку в переменной number теперь хранится количество УСПЕШНО заверешенных заказов, то будет грамотно её переименовать
money_title = df\
.query('status == "Завершен"')\
.groupby('title', as_index=False)\
.aggregate({'money': 'sum', 'number':'count'})\
.sort_values('money', ascending=False)\
.rename(columns=({'number': 'success'}))

In [25]:
# После формирования выборки(отчета) логично сделать проверку достоверности данных.
# Так как в отчет включены только успешные заказы, которые оплачены, то сумма денег полученная от курсов в данном отчете, должна быть равна сумме
# средств полученных в исходной таблице df
money_title.money.sum()

992103.59

In [24]:
all_money = df.money.sum()
all_money

992103.5900000001

In [28]:
# Можно реализовать проверку через блок if/else
if int(money_title.money.sum()) == int(all_money):
    print('OK')
else:
    print('Беда-беда')

OK

In [33]:
# библиотека datedime. Команда для получения сегодняшней даты
today_date = datetime.today().strftime('%Y-%m-%d')
today_date

'2024-08-21'

In [39]:
file_name = 'money_title {}.csv'

In [42]:
# Автоматическая вставка в название файла текущей даты
file_name = file_name.format(today_date)

In [43]:
# При успешной проверке данных до и после агрегации будет записан файл money_title с актуальной датой
if int(money_title.money.sum()) == int(all_money):
    print('OK')
    money_title.to_csv(file_name, index = False)
else:
    print('Беда-беда')

OK